.log-input {
  width: FontSize(400);
  padding: FontSize(8) FontSize(13);
  border-radius: 4px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  border: 0;
  margin-bottom: 15px;
  &::placeholder {
    text-transform: capitalize;
  }
  &.error {
    color: var(--red-color);
    box-shadow: rgba(229, 47, 15, 0.3) 0px 1px 2px 0px,
      rgba(242, 4, 4, 0.15) 0px 2px 6px 2px;
    &::placeholder {
      color: var(--red-color);
    }
  }
}
.error-msg {
  position: absolute;
  color: var(--red-color);
  top: 40px;
  font-size: FontSize(17);
}
.log-btn {
  padding: FontSize(5);
}
.secondary-topic {
  font-size: FontSize(30);
}
.profile-img-upload {
  width: FontSize(50);
  aspect-ratio: 1/1;
  border-radius: 50%;
}

.ternary-topic {
  font-size: FontSize(30);
  font-weight: 500;
  color: var(--blue-color);
}

.user-name {
  font-size: FontSize(23);
  font-weight: 500;
}
.last-message {
  font-size: FontSize(19);
  color: #939191;
}
.more-btn {
  border: 0;
  background-color: transparent;
  img {
    width: FontSize(20);
  }
}
