@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');
:root {
  --background-color: #eaedf2;
  --white-color:#ffff;
  --priamry-color: #5fc4be;
  --blue-color:#41649f;
  --red-color: #f93131;
  font-family: "poppins";
  p {
    margin-bottom: 0;
  }
}

$box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

@mixin signUp-layout {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: FontSize(20);
    background-color: #fff;
    padding: 2% 3% 3%;
    border-radius: 10px;
    box-shadow: $box-shadow;
    z-index: 3;
    .logo-setup{
      display: flex;
      align-items: center;
      gap: FontSize(20);
      .logo-text{
        font-size: FontSize(40);
        font-family: 'Black Ops One';
      }
    
    }
    .logo {
      width: FontSize(50);
      aspect-ratio: 1/1.6;
    }
    .logo-topic {
      font-family: "poppins";
    }
    .sign-info {
      text-align: center;
    }
    .log-btn {
      border: 0;
      background-color: var(--priamry-color);
      padding: FontSize(8);
      font-size: FontSize(20);
      color: #fff;
      border-radius: 6px;
    }
  }
}

@mixin scroll-bar{
  &::-webkit-scrollbar {
    width: 7px;
    height: 7px;
  }
  
  /* Track */
  &::-webkit-scrollbar-track {
    background: transparent; 
  }
   
  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 10px;
  }

}
