@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=DynaPuff&family=Pacifico&display=swap');

:root {
  --background-color: #eaedf2;
  --priamry-color:#5fc4be;
  p{
    margin-bottom: 0;
  }

}

$box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
