.chat-page {
 
  .chat-pages-main{
    display: flex;
    justify-content: space-evenly;
    height: 100vh;
    padding: FontSize(15);
    box-shadow:rgb(255 255 255) 0px -47vh 288px -28px inset;
    aside {
      width: FontSize(350);
      position: sticky;
      top: 0;
      height:calc(100vh - FontSize(15) * 3) ;
      background-color: var(--white-color);
      border-radius: 10px;
      box-shadow: $box-shadow;
      .side-bar-header {
        padding: FontSize(16);
        display: flex;
        align-items: center;
        border-bottom: 1px solid var(--background-color);
        gap: 10px;
        input {
          width: 100%;
          padding: FontSize(9) FontSize(14);
          padding-left: FontSize(17);
          border: 1px solid #ccc;
          border-radius: 30px;
          font-size: FontSize(18);
          outline: 0;
        }
      }
      .side-bar-body {
        padding: FontSize(30);
        .ternary-topic {
          font-size: FontSize(22);
        }
        ul {
          padding: 0;
          li {
            padding: FontSize(10) FontSize(25);
            border-radius: 5px;
            list-style: none;
            display: flex;
            align-items: center;
            gap: 6%;
            font-size: FontSize(18);
            .last-message{
              width: 140px;
              white-space: nowrap;
              overflow: hidden !important;
              text-overflow: ellipsis;
              font-size: FontSize(17);
            }
            .image-placeholder{
              width: FontSize(25);
            }
            &.active {
              background-color: aliceblue;
              box-shadow: rgba(100, 100, 111, 0.2) 0px 5px 13px 0px;
            }
          }
        }
      }
    }
    .chat-container {
      width: calc(100% - FontSize(400));
      .chat-header {
        padding: FontSize(20);
        display: flex;
        align-items: center;
        gap: FontSize(30);
        border-bottom: 1px solid var(--blue-color);
        .group-btn{
          background-color: transparent;
          border: 0;
          margin-left: auto;
          img{
            width: FontSize(40);
          }
        }
      }
      .chat-body {
        height: 75vh;
        overflow-y: scroll;
        @include scroll-bar;
        padding: FontSize(20);
        padding-right: 0;
        .unique-date{
          display: flex;
          align-items: center;
          justify-content: center;
          position: relative;
          p{
            padding: FontSize(5) FontSize(15);
            border-radius: 30px;
            font-size: FontSize(15);
            background-color: var(--white-color);
          }
        }
        .other-chat-list,
        .user-chat-list {
          display: flex;
          align-items: flex-start;
          gap: FontSize(15);
          margin-bottom: FontSize(20);
          margin-top: 10px;
          .message {
            border-radius: 4px;
            font-size:FontSize(17);
            padding: FontSize(10) FontSize(15);
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          }
          .message-time {
            font-size: FontSize(15);
            color: #6f6f6f;
            font-weight: 500;
          }
          .chat-user-img-con {
            display: flex;
            align-items: flex-start;
            .more-btn {
              visibility: hidden;
              &::after{
                display: none;
              }
            }
            .dropdown-menu{
              min-width: 7rem;
              border-radius: 10px;
              button{
                display: flex;
                justify-content: space-between;
                background-color: transparent;
                border: 0;
                width: 100%;
                padding: FontSize(10)  FontSize(20);
                img{
                  width: FontSize(25);
                }
              }
            }
          }
          &:hover {
            .chat-user-img-con {
              .more-btn {
                visibility: visible;
              }
            }
          }
          .map-con{
            width: 400px;
            height: 400px;
            border-radius: 5px;
            margin-top: 5px;
            overflow: hidden;
            .leaflet-control-attribution {
              display: none;
            }
          }
        }
        .other-chat-list {
          .message-con {
            .message {
              background-color: var(--white-color);
            }
          }
        }
        .user-chat-list {
          flex-direction: row-reverse;
          justify-content: end;
          .message-con {
            display: flex;
            flex-direction: column;
            align-items: end;
            .message {
              background-color: var(--blue-color);
              color: var(--white-color);
            }
          }
          .chat-user-img-con {
            flex-direction: row-reverse;
          }
        }
        .user-message-conatiner {
          position: absolute;
          bottom: FontSize(30);
          width: calc(100% - FontSize(400) - FontSize(30) * 2);
          .show-img-con{
            width: 100%;
            background-color: #fff;
            padding: 10px;
            .location-img{
              width: FontSize(25);
            }
            .cancel-img{
              background-color: transparent;
              border: 0;
              img{
                width: FontSize(10);
              }
            }
            .preview-img-upload{
              width: 100px;
              aspect-ratio: 1/1;
            }
          }
          .send-form-con{
            display: flex;
            align-items: center;
            background-color: #fff;
            padding: FontSize(13) FontSize(20);
            border-radius: 5px;
            box-shadow: $box-shadow;
            input {
              border: 0;
              width: 100%;
              outline: 0;
            }
            #upload-img{
              display: none;
            }
            .upload-img-label{
              margin-right: FontSize(25);
            }
            .send-btn {
              text-transform: uppercase;
              border: 0;
              background-color: var(--blue-color);
              color: var(--white-color);
              padding: FontSize(6) FontSize(20);
              border-radius: 5px;
              font-size: FontSize(18);
            }
          }
        }
        .uploaded-img-con{
          // border: 1px solid var(--blue-color);
          // background-color: var(--blue-color);
          border-radius: 5px;
          padding: 5%;
          img{
            width: 100px;
            aspect-ratio: 1/1;
          }
        }
        .location-btn{
          background-color: transparent;
          border: 0;
          img{
            width: FontSize(25);
          }

        }
      }
    }
    .message-not-found{
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap:5%;
      height: 100%;
      .happyemoji{
        width: FontSize(300);
      }
    }
  }
}
