.sign-screen {
  @include signUp-layout;
  #register-img-upload {
    display: none;
  }
  .upload-img {
    border: 1px dashed #ccc;
    padding: FontSize(13);
    font-size: FontSize(19);
    img {
      margin-right: 5%;
    }
  }
}
