.sign-screen {
  @include signUp-layout;
  .blur-round1 {
    position: absolute;
    width: 150px;
    height: 150px;
    top: -15%;
    right: 90%;
    background-color: var(--priamry-color);
    filter: blur(4px);
    border-radius: 50%;
  }
  .blur-round2 {
    position: absolute;
    width: 150px;
    height: 150px;
    top: -15%;
    right: 90%;
    filter: blur(4px);
    background-color: #caf0f8;
    filter: blur(4px);
    border-radius: 50%;
  }
  #register-img-upload {
    display: none;
  }
  .upload-img {
    border: 1px dashed #ccc;
    padding: FontSize(13);
    font-size: FontSize(19);
    img {
      margin-right: 5%;
    }
  }
  .profile-img-upload{
    width: FontSize(50);
    aspect-ratio: 1/1;
    border-radius: 50%;
  }
}
